<div class="a-main">
	<h1>About Me</h1>
	<%= image_tag('Me.jpeg') %>
	<h2>Vix erant putent cu, ad.</h2>
	<p>Lorem ipsum dolor sit amet, quo vide complectitur ea. His nonumy cotidieque ea. Pri eu fugit constituam, eos quas postea voluptua cu. Eum an fabellas periculis comprehensam, soluta quidam intellegat nec et. Saepe oporteat posidonium ut sit.</p>
	<p>Ad sea rebum error salutandi, et has tota everti audiam. Ne vel modus accusamus mnesarchum, no mei errem viderer iuvaret. Qui te assum vituperatoribus, cum decore fabulas ex. No eum unum malis adversarium. Debet nihil complectitur vis an, doming diceret deseruisse id eos, soluta expetenda mei id. Has cu adhuc ullum, mei dolores consetetur an, graeco commodo epicurei ad vix.</p>
	<p>Eius utinam definiebas vis ei, mel ad veritus ponderum, viris viderer per eu. Audiam malorum in cum, ex cum exerci aliquam dolorem. Per cu tantas percipit, suas voluptua at vel. At sit suas habemus appareat, tempor mandamus efficiantur ei usu. Id has assum aperiam denique, mazim percipit mediocritatem ne sit.</p>
</div>