<div class= "main">
	<div class="banner">
	    <ul>
	        <li><%= image_tag('Bolt-Rails.PNG') %></li>
	        <li><%= image_tag('Pizzaplanet - Ang.PNG') %></li>
	        <li><%= image_tag('Outbox - Ang.PNG') %></li>
	    </ul>
	</div>
</div>

<div class="supporting">
	<div class="col-md-4">
		
	</div>
	<div class="col-md-4">
		
	</div>
	<div class="col-md-4">
		
	</div>
</div>
